<div class="flex flex-h-end mt-16 pr-16">
  <button mat-stroked-button color="warn" (click)="logout()">Logout</button>
</div>
<div class="container-team">
  <app-view-detail-team
    *ngFor="let pokemon of pokemons; let index = index;"
    [pokemon]="pokemon"
    class="flex mb-12"
    (pokemonEvent)="removePokemon(index)"
  >
  </app-view-detail-team>
  <app-add-pokemon-team
    *ngIf="pokemons.length < 6"
    (pokemonEvent)="addPokemon($event)"
    class="flex mb-12"
  >
  </app-add-pokemon-team>
</div>

