.list-item:hover {
  background-color: red;
}

.list-item-selected {
  background-color: lightcoral;
}

.list-item {
  font-size: 20px;
}

.search-pokemon-input {
  width: 100%;
}

.scroll-container {
  height: calc(100vh - 150px);
  overflow: scroll;
}

.scroll-container-dialog {
  height: calc(100vh - 400px);
  overflow: scroll;
}


