<mat-form-field class="search-pokemon-input" appearance="fill" color="accent">
  <mat-label>Search Pokemon</mat-label>
  <input matInput type="text" #searchBox (input)="searchPokemons(searchBox.value)">
  <button *ngIf="searchBox.value"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="searchBox.value=''; searchPokemons(searchBox.value)"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-nav-list
  [ngClass]="isDialog ? 'scroll-container-dialog' : 'scroll-container'"
  infiniteScroll
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <mat-list-item (click)="addPokemon(pokemon)" [ngClass]="{'list-item-selected': selectedId === pokemon.id}" class="list-item" *ngFor="let pokemon of pokemons">
    <img matListAvatar src="/assets/img/sprites/{{ pokemon.id }}.png" alt="{{ pokemon.name }}">
    <p matLine>{{pokemon.id}}. {{pokemon.name}}</p>
  </mat-list-item>
</mat-nav-list>
