.container-logo {
  text-align: center;
}

.list {
  width: 450px;
}

.logo-image {
  height: 150px;
  margin-top: 16px;
  margin-bottom: 56px;
}

.pokemon-image {
  height: 150px;
}

.description {
  text-align: justify;
}
