<mat-card *ngIf="pokemon">
  <button mat-icon-button (click)="goBack();">
    <mat-icon class="mr-4">arrow_back</mat-icon>
    Retour aux Pokémons
  </button>
  <audio autoplay="autoplay">
    <source src="/assets/audio/{{ pokemon.id }}.mp3">
  </audio>
  <div class="flex flex-h-center">
    <mat-grid-list cols="2" rowHeight="50px" class="list">
      <mat-grid-tile rowspan="4">
          <div class="flex flex-d-column flex-v-center">
            <img
              alt="{{ pokemon.name }}"
              class="pokemon-image"
              src="/assets/img/sprites/{{ pokemon.id }}.png"
            >
            <p>No. {{ pokemon.id | number: '3.0' }}</p>
          </div>
      </mat-grid-tile>
      <mat-grid-tile rowspan="4">
        <div class="flex flex-d-column">
          <p class="flex flex-v-center">
            {{ pokemon.name }}
            <button mat-icon-button (click)="jouerSon();">
              <mat-icon class="ml-4">play_circle_outline</mat-icon>
            </button>
          </p>
          <mat-chip-list class="mb-12">
            <mat-chip *ngFor="let type of pokemon.types">{{ type }}</mat-chip>
          </mat-chip-list>
          <p>Taille: {{ pokemon.height | number: '1.1-1' }} m</p>
          <p>Poids: {{ pokemon.weight | number: '1.1-1' }} kg</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2">
        {{ pokemon.description }}
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>
